*.iml
.gradle
.idea
/mpOS
/mpOSAES128
/mpOSAES192
/mpOSAES256
/mpOSAESeRSA
/opencv310
/openCVLibrary310
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/_windows
diff.xml
gradle.run.settings.xml
debugger.xml
IntelliLang.xml
ignore.xml
web-browsers.xml
/captures
.externalNativeBuild
